#login-form-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#login-form-container label {
  font-size: 1rem;
  padding: 0.3rem;
  padding-left: 0px;
  color: var(--text-color);
}

form#login-form-container label {
  margin-top: 0.5rem;
}

form#login-form-container input {
  width: 15rem;
  height: 2.5rem;
  border: 0.15rem solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  outline: none;
}

form#login-form-container input:focus {
  border: 0.15rem solid var(--secondary-color);
}

#input-rules {
  padding-left: 2rem;
  padding-top: 0.5rem;
  width: 15rem;
}
