.login-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: 800;
  font-size: 3rem;
  color: var(--primary-color);
}

#subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin: 0 2rem;
  text-align: center;
}

/* #wallet-image {
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(230deg);
  width: 50%;
  background-color: transparent;
  display: block;
  animation: moveFromTop 5s linear forwards;
} */

/* #euro-image {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 60%;
  background-color: transparent;
  display: block;
  opacity: 0;
  animation: EuroAnimation 1.5s linear forwards;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
} */

/* Keyframes for the animation */
/* @keyframes moveFromTop {
  0% {
    transform: translateY(-100%) translateX(-50%) rotate(230deg);
  }
  25% {
    transform: translateY(-70%) translateX(-50%) rotate(230deg);
  }
  50% {
    transform: translateY(-30%) translateX(-50%) rotate(230deg);
  }
  75% {
    transform: translateY(-70%) translateX(-50%) rotate(230deg);
  }
  100% {
    transform: translateY(-100%) translateX(-50%) rotate(230deg);
  }
} */

/* Keyframes for the animation */
/* @keyframes EuroAnimation {
  0% {
    top: 10%;
    opacity: 100;
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    top: 15%;
    opacity: 100;
    transform: translateX(-50%) translateY(-15%);
  }
  100% {
    top: 20%;
    opacity: 100;
    transform: translateX(-50%) translateY(-20%);
  }
} */

/* Medium devices (tablets and small laptops, 600px to 1199px) */
/* @media (min-width: 600px) and (max-width: 1199px) {
  #euro-image {
    width: 40%;
  }
} */

/* Large devices (desktops and larger screens, 1200px and above) */
/* @media (min-width: 1200px) {

  #euro-image {
    width: 30%;
  }
} */
